/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.pane1 {
	-fx-background-image: url('1.jpg');
	-fx-background-size: cover, auto;
}
.pane2 {
	-fx-background-image: url('2.png');
	-fx-background-size: cover, auto;
}
.pane3 {
	-fx-background-image: url('3.jpg');
	-fx-background-size: cover, auto;
}
.pane4 {
	-fx-background-image: url('4.jpg');
	-fx-background-size: cover, auto;
}
